*, ::before, ::after { box-sizing: border-box; padding: 0; margin: 0; }
i { color:white; cursor: pointer; }

html {
   background: url(images/bg2.jpg);
   background-size: cover;
   background-attachment: fixed;
   height: 100%;
}

button {
    padding: 10px;
    background:  rgb(252, 215, 4);
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 6px;
}

textarea {
    max-width: 250px;
    max-height: 224px;
    min-width: 250px;
    min-height: 224px;
    border: none;
    padding: 10px;
    outline: none;
}

/* ---- CONTAINER ----*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 30px;
}
.container-add {
    text-align: center;
    margin-top: 30px;
}
.container-postit {
    width: 250px;
    height: 250px;
    background: #fff;
    margin: 25px;
    animation: fade 0.5s ease;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ---- TAB ----*/
.border-postit {
    display: flex;
    justify-content: right;
    background: rgb(252, 215, 4);
    padding: 5px;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 45px;
}

.editToggle {
    pointer-events: none;
    background: rgb(204, 202, 202);
}

@media screen and (max-width: 420px),
       screen and (max-height: 750px){
    html {
        background: url(images/bg2.jpg);
        background-size: cover;
        background-attachment: none;
        background-position: 50% 0%;
        height: 100%;
    }
}